@charset "UTF-8";
* {
  font-family: "Roboto", sans-serif;
  margin-bottom: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: inherit;
  display: block;
}

li {
  list-style-type: none;
}

header {
  position: relative;
  height: 50px;
}

nav {
  min-height: 53px;
  background: #212121;
  border: 1px solid #000000;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  position: fixed;
  width: 100%;
  z-index: 3;
}

.hamburger {
  display: none;
}

.nav__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0;
  padding: 14px 70px;
  margin-bottom: 0;
}

.nav__link {
  font-weight: 300;
  font-size: 15px;
  color: #FFFFFF;
}

.nav__el {
  border-right: 2px dotted black;
  padding-right: 45px;
}
.nav__el:last-child {
  border-right: none;
}

.subheader {
  position: absolute;
  width: 100%;
  height: 84px;
  background-color: rgba(0, 0, 0, 0.6);
  padding-top: 25px;
  top: 50px;
}

.subheader__logo_link {
  max-width: 100%;
}

.subheader__official {
  font-weight: 100;
  font-size: 13px;
  color: #FFFFFF;
  margin-left: 5px;
}

.subheader__call-us {
  font-weight: 300;
  font-size: 12px;
  line-height: 14px;
  color: #FFFFFF;
}

.subheader__tel {
  font-weight: 400;
  font-size: 22px;
  line-height: 44px;
  color: #FFFFFF;
}

.subheader__call_btn {
  width: 172px;
  height: 46px;
  border: none;
  background: -webkit-gradient(linear, left bottom, left top, from(#1EACC7), to(#4CE2FF));
  background: linear-gradient(0deg, #1EACC7 0%, #4CE2FF 100%);
  -webkit-box-shadow: inset 0px -3px 0px rgba(0, 0, 0, 0.12);
          box-shadow: inset 0px -3px 0px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  font-weight: 400;
  font-size: 14px;
  line-height: 46px;
  color: #FFFFFF;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.21);
}
.subheader__call_btn:hover {
  background-image: none;
  background-color: #1EACC7;
}

.promo {
  min-height: 800px;
  background: url(../img/uber_bg.jpg) center center/cover no-repeat;
}

h1,
h2 {
  text-align: center;
  color: #FFFFFF;
}

.promo__h1 {
  margin-top: 148px;
  font-weight: 700;
  font-size: 60px;
}

.promo__h2 {
  font-weight: 700;
  font-size: 36px;
  margin-top: 20px;
}

.promo__text {
  margin-top: 22px;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  color: #FFFFFF;
}

.promo__btn {
  width: 259px;
  height: 63px;
  display: block;
  background: -webkit-gradient(linear, left bottom, left top, from(#1EACC7), to(#4CE2FF));
  background: linear-gradient(0deg, #1EACC7 0%, #4CE2FF 100%);
  -webkit-box-shadow: inset 0px -4px 0px rgba(0, 0, 0, 0.12);
          box-shadow: inset 0px -4px 0px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  border: none;
  margin: 115px auto 0;
  color: white;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.21);
}
.promo__btn:hover {
  background-image: none;
  background-color: #1EACC7;
}

.reasons {
  min-height: 767px;
  padding-top: 14px;
  padding-bottom: 56px;
}

.label {
  width: 115px;
  height: 27px;
  background: #000000;
  margin: auto;
  font-weight: 400;
  font-size: 11px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-transform: uppercase;
  color: #FFFFFF;
  mix-blend-mode: normal;
}

.title {
  font-weight: 700;
  font-size: 38px;
  margin-top: 32px;
  text-align: center;
  text-transform: uppercase;
  color: #222222;
}
.title_white {
  color: white;
  margin-top: 26px;
}

.reasons__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 35px;
}
.reasons__block_circle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 26px;
  width: 113px;
  height: 113px;
  background-color: #1EACC7;
  border-radius: 100%;
}
.reasons__block_text {
  width: 343px;
}
.reasons__block .reasons__block_title {
  line-height: 21px;
  color: #1EACC7;
  font-size: 17px;
  font-weight: 400;
}

.subtitle {
  position: relative;
  margin-top: 19px;
  color: #222222;
  font-size: 17px;
  font-weight: 400;
  text-align: center;
}
.subtitle_white {
  color: #fff;
  margin-top: 0;
}

.label {
  position: relative;
  margin: 0 auto;
  height: 24px;
  width: 112px;
  padding: 5px 12px;
  background-color: #000000;
  color: #ffffff;
  font-size: 11px;
  font-weight: 300;
  text-transform: uppercase;
  text-align: center;
}
.label_white {
  background-color: #fff;
  color: #000;
}

.mobile {
  min-height: 864px;
  padding: 48px 0 79px 0;
  background: url("../img/bg/mobile_bg.png") center center/cover no-repeat;
}
.mobile .row {
  margin-top: 32px;
}
.mobile_item {
  position: relative;
  width: 320px;
  height: 280px;
  margin: 0 auto;
  margin-bottom: 19px;
  padding-top: 92px;
}
.mobile_item_1 {
  background: url("../img/bg/mobile_screen_1.jpg") center center/cover no-repeat;
}
.mobile_item_2 {
  background: url("../img/bg/mobile_screen_2.png") center center/cover no-repeat;
}
.mobile_item_3 {
  background: url("../img/bg/mobile_screen_3.png") center center/cover no-repeat;
}
.mobile_item_4 {
  background: url("../img/bg/mobile_screen_4.jpg") center center/cover no-repeat;
}
.mobile_item_5 {
  background: url("../img/bg/mobile_screen_5.png") center center/cover no-repeat;
}
.mobile_item_6 {
  background: url("../img/bg/mobile_screen_6.jpg") center center/cover no-repeat;
}
.mobile_item_subtitle {
  color: #ffffff;
  font-size: 24px;
  font-weight: 400;
  line-height: 31px;
  text-transform: uppercase;
  text-align: center;
}
.mobile_item_plus {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  bottom: 35px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 26px;
  height: 26px;
  background-color: #000000;
  margin: 0 auto;
  border-radius: 100%;
  cursor: pointer;
}
.mobile_item_plus:before {
  content: "";
  display: block;
  width: 14px;
  height: 2px;
  background-color: #1EACC7;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}
.mobile_item_plus:after {
  content: "";
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  display: block;
  height: 14px;
  width: 2px;
  background-color: #1EACC7;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}
.mobile_item_plus:hover:before, .mobile_item_plus:hover:after {
  background-color: #ff5656;
}

.choiсe {
  padding: 57px 0 138px 0;
  position: relative;
  background: url("../img/bg/t.png") center center/cover no-repeat;
  min-height: 899px;
}
.choiсe .choice__auto-img {
  position: relative;
  display: block;
  margin: 45px auto 0 auto;
  z-index: 2;
}
.choiсe .choice__text {
  text-align: center;
  color: #222222;
  font-size: 17px;
  font-weight: 300;
  line-height: 24px;
}

.require {
  padding: 68px 0 84px 0;
}
.require_block {
  margin: 33px 0;
}
.require_block_nmb {
  margin-bottom: 0px;
}
.require_title {
  color: #1ca8c3;
  font-size: 22px;
  font-weight: 400;
}
.require_list {
  list-style-type: none;
  padding-left: 50px;
  margin-top: 22px;
}
.require_list li {
  position: relative;
  font-size: 17px;
  font-weight: 300;
  line-height: 24px;
  margin-bottom: 10px;
}
.require_list li:before {
  content: "";
  display: block;
  position: absolute;
  left: -32px;
  top: 3px;
  width: 21px;
  height: 20px;
  background: url("../img/checkbox_blue.png") center center/cover no-repeat;
}
.require_descr {
  margin-top: 25px;
  font-size: 17px;
  font-weight: 300;
  line-height: 24px;
  color: #1ca8c3;
}
.require .warning .require_title {
  color: #ff5656;
}
.require .warning .require_list li:before {
  background: url("../img/checkbox_red.png") center center/cover no-repeat;
}

.world {
  position: relative;
  background: black;
  min-height: 720px;
  padding-top: 48px;
  padding-bottom: 22.5px;
  background: url("../img/bg/world_full-bg.png");
  background-position: center center;
}
.world__link {
  position: absolute;
  font-weight: 400;
  font-size: 15px;
  text-transform: uppercase;
  color: #1EACC7;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  bottom: 22.5px;
}

footer {
  padding: 11px 21px 10.5px 23px;
  height: 155px;
}

.footer_line {
  width: 301px;
  height: 7px;
  background: #1EACC7;
  margin: 0 auto;
}
.footer__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 31.5px;
}
.footer_sn {
  margin: 20px 130px 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 6px;
}
.footer_sn_link {
  width: 35px;
  height: 35px;
  border-radius: 100%;
  background: #070716;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer_sn_link .fab {
  color: white;
}
.footer__main {
  margin: 0 auto 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 8px;
}
.footer__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 41px;
}
.footer__links__main {
  font-weight: 300;
  font-size: 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
  color: #070716;
}
.footer__sub {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 21px;
}
.footer__sub_li {
  font-weight: 300;
  font-size: 11px;
  text-transform: uppercase;
  color: #999999;
}
.footer__lang {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.footer__lang_link {
  font-weight: 400;
  font-size: 11px;
  text-transform: uppercase;
  color: #1FBAD6;
}
.footer__mobile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 7px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.xs-visible {
  display: none;
}

@media (max-width: 1200px) {
  .nav__el {
    padding-right: 29px;
  }
  .nav__el a {
    font-size: 11px;
  }
  .subheader__call_btn {
    width: 159px;
  }
  .promo__h1 {
    font-style: 50px;
  }
  .reasons__block_text {
    width: 311px;
  }
  .mobile_item {
    width: 100%;
  }
  .footer__links {
    gap: 35px;
  }
  .footer__links__main {
    font-size: 13px;
  }
  .footer__sub {
    gap: 8px;
  }
  .footer__sub_li {
    font-size: 10px;
  }
  .footer__mobile {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer_sn {
    margin-right: -65px;
  }
}
@media (max-width: 991px) {
  .nav__el {
    padding-right: 9px;
  }
  .nav__el a {
    font-size: 10px;
  }
  .subheader__logo_img {
    width: 100%;
  }
  .subheader__official {
    font-size: 11px;
  }
  .subheader__tel {
    font-size: 19px;
  }
  .subheader__call_btn {
    width: 120px;
    font-size: 11px;
    line-height: 16px;
  }
  .promo__h1 {
    font-size: 41px;
    margin-top: 120px;
  }
  .promo__h2 {
    font-size: 26px;
    margin-top: 10px;
  }
  .reasons__block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    gap: 20px;
  }
  .choice__auto-img {
    width: 100%;
  }
  .reasons__block_circle {
    margin-right: 0;
  }
}
@media (max-width: 767px) {
  .nav__menu {
    position: fixed;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    top: 0;
    left: -100%;
    width: 50%;
    height: 100%;
    padding: 20px 15px;
    background-color: rgba(0, 0, 0, 0.8);
    -webkit-transition: 0.6s all;
    transition: 0.6s all;
  }
  .nav__menu_active {
    left: 0;
  }
  .nav__menu .nav__el {
    padding-right: 0;
    margin-top: 10px;
    border: none;
  }
  .nav__menu .nav__el .nav__link {
    font-size: 20px;
  }
  .hamburger {
    display: block;
    z-index: 4;
    position: absolute;
    right: 10px;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    width: 26px;
    height: 12px;
  }
  .hamburger span {
    display: block;
    height: 2px;
    width: 100%;
    background-color: #fff;
    margin-bottom: 2px;
    -webkit-transition: 0.5s all;
    transition: 0.5s all;
  }
  .hamburger_active span {
    margin-bottom: -2px;
  }
  .hamburger_active span:nth-child(1) {
    -webkit-transform: translateY(3px) rotate(-45deg);
            transform: translateY(3px) rotate(-45deg);
  }
  .hamburger_active span:nth-child(2) {
    display: none;
  }
  .hamburger_active span:nth-child(3) {
    -webkit-transform: translateY(3px) rotate(45deg);
            transform: translateY(3px) rotate(45deg);
  }
  .xs-hidden {
    display: none;
  }
  .xs-visible {
    display: block;
  }
  .subheader__call_btn {
    display: block;
    width: 200px;
    height: 40px;
    font-weight: 400;
    font-size: 16px;
    margin: 15px auto 0 auto;
  }
  .subheader__tel {
    display: block;
    margin-top: 10px;
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
    line-height: 0;
    text-transform: uppercase;
    text-align: center;
  }
  .promo__h1 {
    font-size: 41px;
    line-height: 45px;
  }
  .reasons__block_text {
    width: 90%;
  }
  .footer_sn {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 0;
    margin-right: 60px;
  }
}
@media (max-width: 545px) {
  .footer__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 15px;
    padding-bottom: 30px;
  }
  .footer_sn {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin: 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer__mobile {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media (max-width: 575px) {
  nav {
    min-height: 30px;
  }
  header {
    height: 30px;
  }
  .subheader {
    height: 60px;
    padding: 0;
    top: 30px;
  }
  .subheader__official {
    display: none;
  }
  .subheader__logo_img {
    margin-top: 27px;
  }
  .subheader__tel {
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
    margin-top: 11px;
    line-height: 1;
  }
  .subheader__call_btn {
    width: 110px;
    height: 22px;
    font-size: 9px;
    margin-top: 6px;
  }
  .subheader__call_btn:hover {
    background-image: -webkit-gradient(linear, left bottom, left top, from(#1EACC7), to(#4ce2ff));
    background-image: linear-gradient(to top, #1EACC7 0%, #4ce2ff 100%);
  }
  .promo {
    min-height: 400px;
    padding: 73px 0 35px 0;
  }
  .promo__text {
    display: none;
  }
  .promo__h1 {
    font-size: 30px;
    padding: 0 24px;
    line-height: 35px;
  }
  .promo__h2 {
    font-size: 20px;
    margin-top: 33px;
    padding: 0 10px;
    line-height: 30px;
  }
  .promo__btn {
    width: 210px;
    height: 50px;
    margin-top: 72px;
    font-size: 16px;
  }
  .promo__btn:hover {
    background-image: -webkit-gradient(linear, left bottom, left top, from(#1EACC7), to(#4ce2ff));
    background-image: linear-gradient(to top, #1EACC7 0%, #4ce2ff 100%);
  }
  .nav__menu {
    width: 85%;
  }
  .nav__el {
    width: 100%;
    text-align: center;
    padding: 5px 0;
  }
  .nav__link {
    display: block;
  }
  .title {
    font-size: 16px;
    margin-top: 15px;
    line-height: 16px;
  }
  .reasons {
    padding: 22px 0 36px 0;
  }
  .reasons__block {
    margin-top: 26px;
  }
  .reasons__block_circle {
    width: 100px;
    height: 100px;
  }
  .reasons__block_text {
    width: 100%;
    margin-top: 27px;
  }
  .reasons__block_title {
    font-size: 16px;
    text-align: left;
  }
  .reasons_text {
    margin-top: 0;
  }
  .footer_line {
    width: 255px;
  }
  .subtitle {
    font-size: 14px;
  }
  .mobile {
    padding: 28px 0 43px 0;
  }
  .mobile .subtitle {
    margin-top: 0;
  }
  .mobile .row {
    margin-top: 27px;
  }
  .choiсe {
    min-height: 393px;
    padding: 27px 0 31px 0;
    background: url("../img/bg/black-bg(xs).png") center center/cover no-repeat;
  }
  .choiсe .title, .choiсe .subtitle {
    display: none;
  }
  .choice__auto-img {
    margin: 36px auto 0 auto;
  }
  .choiсe .choice__text {
    margin-top: 23px;
    color: #FFFFFF;
  }
  .require {
    padding: 22px 0 30px 0;
  }
  .require_title {
    font-size: 16px;
  }
  .require_list {
    padding-left: 33px;
    margin-top: 7px;
  }
  .require_list li {
    font-size: 14px;
    margin-bottom: 5px;
    line-height: 19px;
  }
  .require_descr {
    margin-top: 0px;
    font-size: 14px;
    line-height: 16px;
  }
  .require_block {
    margin: 22px 0 0 0;
  }
}/*# sourceMappingURL=style.css.map */